body{
    scroll-behavior: smooth;
}

ul{
    list-style-type: none;
}

i{
    font-size: 180%;
}
article{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section,footer{
    margin-top: 15%;
}
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: #fff;
    z-index: 1;
}

header div{
    display: flex;
}

header i{
    padding: 0 10px;
    font-size: 120%;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

header nav ul li{
    margin: 0 10px;
    padding: 10px 30px;
    border-radius: 5%;
    border: 1px solid #000;
}

header nav ul li a{
    text-decoration: none;
    color: #000;
}
header nav ul li:nth-child(2){
    background-color: #000;
}

header nav ul li:nth-child(2) a{
    color: #fff;
}

/* main */
.main{
    height: 85vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.catch{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 100%;
}

.catch form{
    display: flex;
    width: 100%;
    font-size: 120%;
}
form p{
    padding-right: 20px;
}
form input,select{
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px 50px;
    height: 80%;
}

form button{
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5%;
    height: 80%;
}

/* s1 */
.s1{
    height: 100%;
}
.s1-container{
    display: flex;
    width: 100%;
}

.s1-content1,.s1-content2,.s1-content3{
    width: 30%;
    margin-left: auto;
    margin-right: auto;

}
.s1-content1 div,.s1-content2 div,.s1-content3 div{
    aspect-ratio: 1/1;
    overflow: hidden;
}

.s1-content1 img,.s1-content2 img,.s1-content3 img{
    height: 100%;
}

/* s2 */

.s2{
    width: 100%;
}

.s2-container{
    width: 100%;
}
.s2-content1{
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
}

.s2-content1 iframe{
    width: 100%;
}

.s2-content2{
    width: 100%;
}
.s2-content2 ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}

/* S3 */
.s3-container{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.s3-contant1 div{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
}

.s3-contant1 div img{

    padding-right: 10px;
}
.s3-content2 ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* footer */
footer{
    padding: 50px 0;
    border-top: 1px solid #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-content1{
    display: flex;
    justify-content: space-around;
}
.f-content1 p{
    padding-left: 10px;
}
.f-content2{
    text-align: right;
    font-size: 80%;
}